@font-face {
    font-family: "krabby-patty";
    src: url(../fonts/Krabby\ Patty.woff) format("woff");
}

body {
    background: url("../images/background.jpg");
    font-family: "krabby-patty";
}

#timer {
    font-size: 1.2em;
    font-weight: bold;
}

.start {
    background: rgb(168, 238, 29);
    border: 2px solid lightblue;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.start:hover {
    background: yellow;
}